{% extends "base.html" %}

{% block body %}

<div class="container">

	<h1>Algorithmen im Aktienhandel</h1>

	<p class="flow-text">Algorithmischer Handel ist keinesfalls eine Neuheit – schon in den 1970ern gab es erste Versuche. Doch erst durch die steigende Computerleistung und automatische Datenanalyse in den 80ern waren die Algorithmen in der Lage, bis zu einem gewissen Grad tatsächlich relevante Vorhersagen zu treffen.</p>

	<!--	<blockquote>“A blindfolded monkey throwing darts at a newspaper’s financial pages could select a portfolio that would do just as well as one carefully selected by experts.” - Burton Malkiel</blockquote> -->

	<p class="flow-text">Heutzutage werden mehr als die Hälfte aller Transaktionen von Algorithmen durchgeführt.</p>

</div>

{% endblock body %}
