body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.navitem-hover {
    transition: 300ms;

}

.navitem-hover:hover {
    font-size: 120%;

}

.tabs .tab a {
    transition: 300ms;
    color: black;
}

.tabs .tab a:hover {
    font-size: 110%;
    color: black;
}

.tabs .tab a:focus.active {
    color: black;
    background-color: white;
}

.tabs .indicator {
    background-color: black;
}

blockquote {
    border-left: 5px solid black;
}
